[2016-04-22 21:22] ansaritameem opened #1 "Readme.md required."
Please add a readme.md so that folks know what they need to do as they clone/download the codebase. Is this covered else where? If so at the minimum the details & link to such documentation can be maintained in the readme.md.

[2016-07-21 11:35] lochiiconnectivity opened #2 "Incorrect reference for config attributes"
The Web.config refers to both _partnerCenter.domain_ and _webPortal.domain_ as being of type _AAD domain_ , which , as a casual user, I would assume is a string taking the format _foo.onmicrosoft.com_, but in fact this is an Identifier as opposed to a domain string.

The _Source/PartnerCenter.CustomerPortal/App_Start/Startup.Auth.cs_ gives this away:

[code]

Will submit a pull to fix this.

[2016-07-21 11:39] lochiiconnectivity opened #4 "Default paypal timeout inappropriate"
The default HTTP timeout in the [Paypal NET SDK](https://github.com/paypal/PayPal-NET-SDK) is 30 seconds [(source)](https://github.com/paypal/PayPal-NET-SDK/blob/77b14e19402e7ee8dfa170cbce98d4b14c8ee6b5/Source/SDK/Manager/ConfigManager.cs#L26)

This is inappropriate when using the paypal developer sandbox, which takes longer to respond.

Will submit a pull to fix.

[2016-07-22 21:32] RaedJarrar commented on #4
We are in the process of revamping the PayPal integration code. We will take this change in however since it is minor.

[2016-07-22 21:33] #4 closed

[2016-07-22 22:52] #2 closed

[2016-08-02 01:33] lacovosika opened #6 "Support Phone format in US Only"
Hi, when deploying the store as is without any customisation from PartnerCenter, the phone number format accepts only US phone number, can't save any other number, eg. Australia

[2016-08-23 06:19] UnclePL opened #7 "Is there any instruction about how to run this sample?"
waiting for help...

[2016-08-24 17:13] RaedJarrar commented on #6
Hi there, we will remove this restriction from the code base. Please stay tuned.

[2016-08-24 17:14] RaedJarrar commented on #7
What is the area that you need help in?

[2016-08-24 17:41] RaedJarrar commented on #6
Fixed.

[2016-08-24 17:41] #6 closed

[2016-08-24 18:50] RaedJarrar commented on #1
Done.

[2016-08-24 18:50] #1 closed

[2016-08-24 18:50] RaedJarrar commented on #7
I just added a README.MD file. Please check it and let us know if further clarification is needed.

[2016-09-19 13:28] emilkje opened #8 "CloudStorageAccount BlobStorage Uri Mismatch"
Trying to get the sample running locally with the Azure Storage Emulator and getting the following error on initial page load:

`Primary and secondary location URIs in a StorageUri must point to the same resource.
Parameter name: secondaryUri`

This error is thrown at AzureStorageService.cs at line 91
[code]

azureStorageConnectionString = UseDevelopmentStorage=true
azureStorageConnectionEndpointS

[2016-09-19 13:42] emilkje commented on #8
I tried setting `useHttps: false` as well, to no avail. If it helps this is the parsed BlobStorageUri when running against the aforementioned configuration:
`{Primary = 'http://127.0.0.1:10000/devstoreaccount1'; Secondary = 'http://127.0.0.1:10000/devstoreaccount1-secondary'}`

[2016-09-19 21:22] RaedJarrar commented on #8
remove: endpointSuffix: azureStorageConnectionEndpointSuffix from line 91 and try.

[2016-09-20 08:02] emilkje commented on #8
Thanks for the reply. I did remove the suffix and got a bit further. The issue is where the Home Controller try to get the Organization name:

HomeController
-> PortalBranding.RetrieveAsync()
-> PortalBranding.GetPortalBrandingBlobAsync()
-> AzureStorageService.GetPrivateCustomerPortalAssetsBlobContainerAzync()

When i hit the first line of `AzureStorageService.GetPrivateCustomerPortalAssetsBlobCo

[2016-09-20 08:32] #8 closed

[2016-09-29 23:15] #7 closed

[2016-10-05 07:06] Vijayaraghavanl opened #9 "Issue with Payment Gateway"
Hi Team,

I have a small request to you folks with regards to this code and wonder if you folks can help.

Currently, this code allows only Paypal as the Payment Gateway. I am based out of India and under the CSP Program we can have only Indian customers. Unfortunately, I cannot use Paypal in India for transactions within India. Having said that though this code provides and includes everything th

[2016-10-05 17:09] RaedJarrar commented on #9
You can certainly implement your own IPaymentGateway which talks to one which is supported in India. You would need to hook it up to CommerceOperations to take effect instead of the PayPal one. Also, you would need to change your Payment configuration page to store your other provider's credentials instead of PayPal. Assuming that other GateWay supports creditcards, you should be up and running wi

[2016-10-10 14:23] dumins opened #10 "can we use with CSP Program ?"
can we use with CSP Program ?

[2016-10-10 17:15] RaedJarrar commented on #10
Of course! This is the main purpose of this web store front portal. You can deploy it from Partner Center by navigating to account settings -> web storefront. This will deploy the code from this repository. You can also follow the readme.md file and run it locally and deploy it yourself if you wanted.

[2016-10-10 23:05] dumins commented on #10
when i download the code and run from visual studio there are lots of erros .
Ex: Error	2	Invalid token ';' in class, struct, or interface member declaration	C:\Users\Admin\Documents\GitHub\Reseller-Web-Application\Source\PartnerCenter.CustomerPortal\BusinessLogic\Exceptions\PartnerDomainException.cs	61	81	PartnerCenter.CustomerPortal

[2016-10-10 23:32] dumins commented on #10
i think you guys used C# 6.0 So I need to install VS 2015 and open and it didnt compile with VS 2013

[2016-10-11 09:07] ankbs opened #11 "International Usage"
Hallo,
many thanks for your work.
But for an European / German CSP we need an other configuration:
Please fix or describe an "How-To" (for IT-pro and not DEV :-) )
- At the customer registration page, please change the phone number format into an international or describe how (and where) we can change that into european (or german) format
- PayPal order dosn't work with german PayPal Business Acco

[2016-10-18 06:05] Sodininkas opened #12 "Customer unable to login"
Hi,

I created web app from https://github.com/PartnerCenterSamples/Reseller-Web-Application. Now only partners can login to the app with admin rolw, but when i try login to the site with newly created customer user it promt's error - "access_denied" with response - "The application needs access to a service that your organization has not subscribed to. Please contact your Administrator to review

[2016-10-18 17:40] #9 closed

[2016-10-18 17:42] RaedJarrar commented on #12
Looks like you manually deployed the application. Did you make sure you used an AD web application and set it to multi-tenant?

[2016-10-18 21:41] Sodininkas commented on #12
Thanks for reply,

Yes i manually deployed it. I just tried deploy from external source github and it succesfully worked, the customer after login promts that he agree with credential usage and logs on(before i dont have that promt). I don' get it what i'm missing  whit manually deploy, i set to multitenant ad web app. I also leave in web config partnerCenterApplicationId and webPortalClientId sam

[2016-10-18 22:44] Sodininkas commented on #12
It worked! thanks god. It was with webPortalClientId, this had to be different, i copy id and secret from working external deployment(helped me a lot whit this), i don't know from it get those. and webPortalClientId guid's from created application in microsoft csp portal. And everything is in good shape now.

Thanks

[2016-10-18 23:22] RaedJarrar commented on #12
Wonderful! Glad it all worked out.

[2016-10-18 23:22] #12 closed

[2016-10-18 23:23] RaedJarrar commented on #10
Please let us know if things are fine so that we close this issue.

[2016-10-22 16:00] Sodininkas opened #13 "Getting customer users list"
Hello,

I'm trying to get customers user list with line of code ApplicationDomain.Instance.PartnerCenterClient.Customers.ById(clientCustomerId).Users.GetAsync().But getting error "The supplied role does not have the rights to perform the requested operation" or "This resource can't be accessed by application credentials." reponse code 500. With native given "csp console sample app", it's working.

[2016-10-25 01:02] tameemansari commented on #9
@Vijayaraghavanl can you share details of which payment provider you were considering for India. Thanks.

[2016-10-25 01:07] tameemansari commented on #11
We are looking into supporting countries beyond US. This will also include supporting PayPal express checkout support (and PayPal accounts as a funding instrument along side credit cards (where applicable)).

[2016-10-25 04:38] Vijayaraghavanl commented on #9
Was considering CCAvenue.

[2016-10-26 00:55] RaedJarrar commented on #13
An application only auth mode does not have enough privileges to access customer users. You should be getting back a 403 rather than a 500. Can you confirm this is the case? In order to access the customer users, you need to authenticate using app+user which would work with that. You can onboard a native app and use it to create a new partner credentials which would work.

[2016-10-26 11:09] Sodininkas commented on #13
Hi,

Thanks yes this is the case! I also implemented user authentication, and now it's working i can get back users and other api features.

Thank you

[2016-10-26 17:00] RaedJarrar commented on #13
Glad it worked out for you!

[2016-10-26 17:00] #13 closed

[2016-11-08 16:14] coopersimpson opened #14 "Bermuda Usage"
Hi,

When we tried to deploy for our LATAM reseller site, we get an issue straight away that saysCulture name 'BM' is not supported.
Parameter name: name

Here is the site MSFT generated for us.
https://fmreseller.azurewebsites.net/

Any advice? you can email me direct csimpson (at) fireminds.com

[2016-11-09 02:24] tameemansari commented on #14
@coopersimpson our first release was targeting US primarily. We are investigating other countries for future releases. Can you tell me if PayPal is supported in your region.

[2016-11-09 16:09] coopersimpson commented on #14
Hmm, very weird Microsoft would put this in the LATAM Partner portal then isn't it! :) Guess we will build somethign from scratch, or modify this. We use Credit card auth via AUthorize.net not paypal.

[2016-11-09 20:38] tameemansari commented on #14
Thanks for the feedback. We encourage forking the code and introducing additional payment gateways and features beyond what we have been considering at our end. We would be glad to take PRs :).

Meanwhile, there is an eminent release coming up (within a week) which will enable PayPal accounts as another funding instrument which will enable more partners to adopt in few other regions beyond US. Wou

[2016-11-09 20:41] tameemansari commented on #10
@dumins . Please confirm else we will close this issue in a few days. Thanks.

[2016-11-10 21:51] ns8482e opened #15 "Getting Server Error"
When I trying to run application in debug in Visual Studio 2015. I get following error.

Server Error in '/' Application.

Unable to find account with tenant id 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX' in AMS

I have setup integration sandbox in partner center, and updated config values for partnerCenter.applicationId, partnerCenter.applicationSecret, partnerCenter.AadTenantId , webPortal.clientId,

[2016-11-25 08:26] ankbs commented on #14
Hallo  @tameemansari ,
in sugestion my other post..(#11 ).. you wrote "there is an eminent release coming up (within a week)" - is there a new date?

many thanks and best regards
michael

[2016-11-25 21:16] tameemansari commented on #14
@ankbs ... The release is almost ready, we are undergoing tests to validate in place upgrade scenarios to allow partners who have deployed the store front from Partner Center to update to the new release. You can take a look at it in the [novrelease](https://github.com/PartnerCenterSamples/Reseller-Web-Application/tree/NovRelease) branch.

[2016-12-04 22:18] ankbs commented on #14
Hello @tameemansari , thanks for your response.
i could change the Countgry list into my country. But the Change for the Customer phone don't work. i can't find  the second validation which is showing as Header bar.
buying new licenses and register a new client is working.
but the client can't login into the portal. the site is showing a green error site with the info "some error".
any idea?
and t

[2016-12-08 19:48] #10 closed

[2016-12-10 21:41] tameemansari commented on #14
@ankbs. The customer phone validation is also done on the server side using a regular expression. You can remove the regex annotation in the [customer model class](https://github.com/PartnerCenterSamples/Reseller-Web-Application/blob/master/Source/PartnerCenter.CustomerPortal/Models/CustomerViewModel.cs#L95).

Adding additional countries to the customer registration page will involve you adding it

[2016-12-14 09:31] dumins opened #17 "How about Azure Subscriptions ?"
How about Azure Subscriptions ?

[2016-12-14 20:15] tameemansari commented on #17
@dumins. This is on our roadmap for the web storefront. Please share your thoughts on what you would like to see about supporting Azure Subscriptions. Will it be sufficient to just list out the subscriptions or would you like to see more. Thanks.

[2016-12-14 20:18] tameemansari commented on #15
@ns8482e . I did further digging into this issue and found that the code has a bug which cannot set the locale to Bermuda since .net framework doesn't have the locale support for it. We use this piece of logic to identify the currency settings we set for the web storefront. I am going to work on fixing this for our Dec/Jan release.

[2016-12-14 20:19] tameemansari commented on #14
@coopersimpson . I did further digging into this issue and found that the code has a bug which cannot set the locale to Bermuda since .net framework doesn't have the locale support for it. We use this piece of logic to identify the currency settings we set for the web storefront. I am going to work on fixing this for our Dec/Jan release.

[2016-12-15 00:54] dumins commented on #17
Azure Subscriptions are Usage Based. We need to show the Usage of particular month to the client.

[2016-12-15 00:55] dumins opened #18 "Removing Paypal Option"
Is it possible to remove the Paypal option for the configuration level. ?

[2016-12-15 01:05] tameemansari commented on #18
Can you help me understand your question better? Do you mean replace the payment gateway? or removing some option in the PayPal gateway.

[2016-12-15 01:14] dumins commented on #18
Need to Remove the Paypal option because we dont have support for Paypal here.

[2016-12-15 02:07] tameemansari commented on #18
Thanks for clarifying. Which country is this and is there an alternative Payment gateway which you intend to implement?

[2016-12-15 02:10] dumins commented on #18
Sri Lanka . I'm actually observing the application and Is there any Admin Panel to view all the orders ?

[2016-12-22 21:36] lukeryb opened #19 "PaymentSetup PayPal Could not save payment information"
Hi There,

When we are trying to go through the three steps to setup the storefront, we are running into an issue trying to apply the paypal sandbox client id/client secret.

We are getting an error "Could not save payment information".

Is this a bug, if so how can we get this resolved? Can this be manually hard coded into a config file via ftp?

Thanks

[2016-12-22 22:11] tameemansari commented on #19
This could happen primarily due to invalid client id / secret combination. The code makes a call to PayPal API before saving data to ensure that those credentials are applicable or not.

To diagnose this deeper, you could use the kudu logstream url to collect logs / exceptions generated & logged on the server side. You can access the Kudu site for your storefront deployment at the following url. h

[2016-12-22 22:55] tameemansari commented on #18
A customer can view all their purchases / transactions after they login in the "My Subscriptions" page.
The admin pages do not currently have a feature to view all the orders/transactions made by various customers in the portal. A partner can always view these orders in Partner Center. Is this something which is critical for you. If you can list out all your needs we can add to our backlog and see

[2016-12-23 03:28] lukeryb commented on #19
Hi,
Thank you for your response. I am trying to navigate to the url as per your instructions, and it seems to not work. if I take out /logstream, I am able to view a Kudu environment which has options like Environment, Site extensions etc. When selecting anything within Tools, the pages seem not to load.

As for the paypal details, I'm confused where there could be mismatch, since I've followed th

[2016-12-23 04:39] tameemansari commented on #19
Quick question did you deploy the site from Partner center or some other way?

[2016-12-23 04:43] tameemansari commented on #19
Please verify the client id and secret you are typing in at the PayPal API playground too... https://devtools-paypal.com/hateoas/

[2016-12-23 14:23] lukeryb commented on #19
We did deploy using partner center. We are not working through the three steps, last one being this paypal setup.

I went to your link for paypal, and confirmed that our Client ID and Secret is working using their test API data.

When accessing the log stream, here are the errors we are getting, at the time of trying to save the Paypal details.

`
This error means that there was a problem while pr

[2016-12-23 20:31] tameemansari commented on #19
Thanks for the stack trace. I understand what may be the issue here. You may have not yet setup the Header image in the branding page (they are not mandatory hence are allowed to be skipped). For now, before attempting to update the payment settings. Can you go add the header image in the portal branding section. After validating your PayPal settings, the store front creates a PayPal web experienc

[2016-12-23 20:43] tameemansari commented on #19
I have just done a fast track fix (https://github.com/PartnerCenterSamples/Reseller-Web-Application/pull/20) of this issue on the dev branch. If my above stated resolution works subsequently I will PR this to master.

[2016-12-23 22:53] lukeryb commented on #19
So looks like once I applied a header in the customization, I was able to save my Paypal details.

Seems to be working now.

[2016-12-23 22:55] lukeryb commented on #19
Also once more questions, regarding offers, I notice the pricing is stating Annual. Are these not priced via monthly per seat?

[2016-12-23 23:32] tameemansari commented on #19
Thanks for the confirmation.

Pricing is managed annually on the store front. Prorated calculation are done on a yearly basis too when the customer adds seats to an existing store front subscription. Please take care of pricing the offers in your store front configuration on a yearly basis.

I will closing this issue at this time. 

[2016-12-23 23:32] #19 closed

[2017-01-05 19:26] tameemansari commented on #14
@coopersimpson and @ankbs. The dec/jan work stream is more or less complete. we are undergoing reviews internally after which relevant announcements and merge to master would happen. I hope this is done by end of next week. Meanwhile feel free to take a look at the [dev](https://github.com/PartnerCenterSamples/Reseller-Web-Application/tree/dev) branch.

[2017-01-05 19:44] coopersimpson commented on #14
@tameemansari Thanks, look forward to merge. Did you get the Bermuda fix in place? As for currency settings, Bermuda could just force USD as a fix?

[2017-01-05 19:58] tameemansari commented on #14
@coopersimpson . Yes Bermuda is fixed. Please look [here](https://github.com/PartnerCenterSamples/Reseller-Web-Application/blob/dev/Source/PartnerCenter.CustomerPortal/BusinessLogic/PortalLocalization.cs#L52-L70). Partner Center maintains a default culture setting for a given partner's locale (we retrieve this using the CountryValidationsRules api and accordingly set the currency & other region se

[2017-01-05 20:01] coopersimpson commented on #14
Awesome, will deploy as soon as its Master and try it out!

Cooper Simpson
Fireminds Ltd.

Website: www.fireminds.com<http://www.fireminds.com/>
Email: csimpson@fireminds.com<mailto:csimpson@fireminds.com>
Direct: (441)278-1508
Help desk: (441)295-0000
Support: support@fireminds.com<mailto:support@fireminds.com>

From: Tameem Ansari [mailto:notifications@github.com]
Sent: Thursday, January 5, 2017

[2017-01-05 21:54] lukeryb opened #25 "Feature Request"
Hi Team,

We have a few elements that we are wondering if they can be added/removed.

1. Could be eliminate the function of Paypal, and payment all together, as we would like to simply provide the end user the ability to add and remove licenses and subscriptions, without collecting payment. We manage billing externally.

2. Second, the country option only allows for USA, how and can we select Cana

[2017-01-05 22:40] tameemansari commented on #25
Good list of features.

- Removing Payment gateway to support offline payments & invoicing.
We are looking at supporting this scenario for our Feb release. This capability will allow the web store front admin to pre approve customers so that they wouldn't be required to pay (the payment experience will be stubbed). We were considering to allow the admin to select which customers are pre approved.

[2017-01-06 14:35] lukeryb commented on #25
Hi Tameemansari

I have sent you an email to the address in your reply. Looking forward to getting in contact with you.

Thanks

[2017-01-12 01:28] tameemansari commented on #14
The release is now out. Its on master and you can deploy the latest bits from partner center.
https://github.com/PartnerCenterSamples/Reseller-Web-Application/releases/tag/v1.2

[2017-01-12 01:28] #14 closed

[2017-01-12 01:29] tameemansari commented on #11
Closing this issue since the release is now out.

[2017-01-12 01:29] #11 closed

[2017-01-12 01:30] tameemansari commented on #18
@dumins. I would appreciate if you can try [this release which just got out](https://github.com/PartnerCenterSamples/Reseller-Web-Application/releases/tag/v1.2). 

[2017-01-12 01:31] dumins commented on #18
Thanks Tameen

On 12 Jan 2017 09:30, "Tameem Ansari" <notifications@github.com> wrote:

[2017-01-12 20:32] tameemansari commented on #25
@lukeryb. The jan release is now out. We are working on getting pre approved payments targeting the Feb release. Hope you can deploy the Jan release.  I will close this issue for now.

[2017-01-12 20:32] #25 closed

[2017-01-13 09:53] ankbs opened #28 "Urgent: After deploying, no Startsite is showing"
Hi,
many thanks for your new build. The feature list Looks like very good.

But, when i deploy the solution over the partnercenter, there is no startsite showing. i can see Only the text inside the TAB (with Edge and IE on Windows 10)
The same is, when i deploy it Manual inside the current and running azurewebsite configuration.

Thanks again for oyur great Support.
Michael

[2017-01-13 11:26] tameemansari commented on #28
Can you give me a link to the deployed site.

[2017-01-13 11:28] ankbs commented on #28
https://partnercentercustomerportal20170113114928.azurewebsites.net/
is the last deployment

[2017-01-13 11:37] ankbs commented on #28
and this is deployed one Minute ago from partnercenter
https://hcloudo365webshop.azurewebsites.net/

[2017-01-13 11:51] ankbs commented on #28
I try look with F12 :-)
is this helping?
 Strings: {
            /*
                Framework strings
            */
            CurrentLocale: "de-DE",
            Loading: "Laden",
          ......
            Delete: "Löschen",
            Save: "Speichern",
            Undo: ""Rückgängig"",
ERROR --> Expected '}'
            NotificationsSummary: " neue Benachrichtigungen",

[2017-01-13 12:03] tameemansari commented on #28
Can we follow up on this over email. Please drop me a note on tansar at Microsoft.com

[2017-01-13 16:48] lukeryb opened #29 "Upgrade caused errors"
Hi Team,

After upgrading the web store front via CSP, we are not getting several errors.

When loading the web page, we get "Could not retrieve the offers".

If I login using my account, and I try to go through offers setup, I am un able too and get the following error "Could not retrieve Microsoft offers".

Can you help?

Thanks

[2017-01-17 18:08] ankbs commented on #28
Hi,
i want to share the solution.
Inside the ressource file for german language, search for Undo: ""Rückgängig"" and delete the double " so there is only one like "Rückgängig".
This solved the error.

Regards
Michael

[2017-01-17 19:28] tameemansari commented on #29
Sure @lukeryb. Will follow up over email and we can diagnose this issue. I suspect that some of the offers which were created prior to this release have been withdrawn and hence this issue is occurring. We can investigate further to identify root cause.

[2017-01-17 19:31] tameemansari commented on #28
Thank you @ankbs. I will PR your changes after reviewing them by end of day today.

[2017-01-17 22:36] tameemansari commented on #28
Just completed a PR and handled this issue for all the supported non English languages.

[2017-01-17 22:36] #28 closed

[2017-02-01 22:28] #18 closed

[2017-02-01 22:29] #15 closed

[2017-02-07 08:29] qbihay opened #32 "Issue Wen deploy the master"
Hello, I just deploy the master release of the Reseller Web app on Azure.
When I go to the URL, I have this result
![2017-02-07 09_25_59-nom de votre organisation](https://cloud.githubusercontent.com/assets/23701920/22683274/87521614-ed17-11e6-9002-eac3e900f6db.jpg)
So i go on the open a session button, I'm logging with a global admin of the Sandbox and the builder don't launch.
I don't have acces

[2017-02-07 17:42] jasonflowers opened #33 "Locale not supported when getting offers"
Hi. I have successfully deployed the solution through the Partner Center and whilst going through the configuration wizard on the site (within "Offers Setup") I get an error stating unable to retrieve offers. When I run a stream log on Azure I find the following stack trace "Locale: en-GB
Base Description: Microsoft.Store.PartnerCenter.Exceptions.PartnerException: Locale en-GB is not supported

[2017-02-10 20:44] chpolania commented on #33
hi, i have the same error Locale: es-CO
Base Description: Microsoft.Store.PartnerCenter.Exceptions.PartnerException: Locale es-CO is not supported

Thanks

[2017-02-13 18:52] tameemansari commented on #33
@jasonflowers and @chpolania ... can you please paste the complete stack trace.

[2017-02-14 07:03] ravimandal47 commented on #33
Hi, I am facing the same issue.

Here is the stack trace.

[code]

[2017-02-14 08:03] #32 closed

[2017-02-14 11:28] jasonflowers commented on #33
Apologies for the delay but thanks to ravimandal47 for providing! :)

[2017-02-14 13:42] sean-anr commented on #29
I know I'm a little late to the conversation, but we're having the same issue.  Were you able to resolve it?

[2017-02-14 21:19] tameemansari commented on #33
Can some of you please provide your partner organization names so that I can look up your org profiles and the language setting you have due to which the API call may be failing.

[2017-02-14 21:22] tameemansari commented on #29
Looks like this thread should be merged with the other issue - https://github.com/PartnerCenterSamples/Reseller-Web-Application/issues/33

@sean-anr and @lukeryb can you please provide the names of your organizations so that I can look up your profile in the backend to investigate this issue further.

I am closing this thread so that all the activity can be done against one GitHub issue. Thanks.

[2017-02-14 21:22] tameemansari commented on #29
#33

[2017-02-14 21:23] #29 closed

[2017-02-14 21:23] lukeryb commented on #29
360 Visibility Inc.

Thanks

On Feb 14, 2017 4:22 PM, Tameem Ansari <notifications@github.com> wrote:

Looks like this thread should be merged with the other issue - #33<https://github.com/PartnerCenterSamples/Reseller-Web-Application/issues/33>

@sean-anr<https://github.com/sean-anr> and @lukeryb<https://github.com/lukeryb> can you please provide the names of your organizations so that I can look

[2017-02-14 21:29] sean-anr commented on #33
Org name: A&R Solutions

Thanks!

[2017-02-14 21:33] tameemansari commented on #29
Thank you both. Much appreciated.

[2017-02-15 01:22] ravimandal47 commented on #33
Organization Name: Unlimited Technology Pvt. Ltd.
Tenant: unlimitednepal.onmicrosoft.com

Thanks for the response.

[2017-02-15 02:30] tameemansari commented on #33
Thanks all. I have isolated the root cause. A fix should be available before Monday.

[2017-02-15 04:52] ravimandal47 commented on #33
@tameemansari  is there any workaround available till the time a fix is released?

[2017-02-15 05:30] tameemansari commented on #33
@ravimandal47 unfortunately no workaround without a code change. The offer catalog on the server side (Partner Center) is explicitly looking for specific locales which it can return for localized offer names. The fix needs to consider the languages for which the web storefront is localized and set the locale accordingly for that call. In the case of ne-NP it would fallback to en-US, For other regi

[2017-02-15 07:08] theciscokid1 commented on #33
Same issue with SG locale

[2017-02-15 08:16] jasonflowers commented on #33
Many Thanks for your efforts tameemansari!

[2017-02-15 18:31] chpolania commented on #33
Thanks friend!

[2017-02-15 22:15] tameemansari commented on #29
@lukeryb. This issue is now resolved.

[2017-02-15 22:18] tameemansari commented on #33
Folks from this thread and related threads who raised this issue. https://github.com/PartnerCenterSamples/Reseller-Web-Application/issues/29 and
@jasonflowers, @chpolania, @ravimandal47, @sean-anr, @theciscokid. The fix is now merged to main. You can [upgrade from Partner Center](https://partnercenter.microsoft.com/en-us/pcv/webstore/preparedeployment) to deploy the fix. This will ensure that you

[2017-02-16 05:32] ravimandal47 commented on #33
Thanks @tameemansari it is working now. :)

[2017-02-16 15:09] jasonflowers commented on #33
Great work tameemansari - seems to working for me now too ! :)

[2017-02-16 18:25] tameemansari commented on #33
Thanks for confirming @ravimandal47 and @jasonflowers. I will close this issue.

[2017-02-16 18:25] #33 closed

[2017-02-17 01:49] theciscokid1 commented on #33
@tameemansari We have managed to get it going but notice the country selection Singapore is not available, will this be added or can we add this ourselves? Can I aslo confirm the pricing that gets pulled across is USD when creating offers?

[2017-02-17 05:58] ravimandal47 commented on #33
@tameemansari @theciscokid1  I am also facing the same issue. I cannot get Nepal in dropdown. How can I fix this?

[2017-02-17 18:10] tameemansari commented on #33
@theciscokid1 and @ravimandal47 can you please open new issues to track these questions.

Nepal and Singapore were not part of the countries / regions we currently support.
Adding additional countries in the create customer page drop down is fairly straightforward.
This will involve you adding items to the [select list viewModel variable](https://github.com/PartnerCenterSamples/Reseller-Web-Applic

[2017-02-22 13:59] sean-anr opened #35 "Increasing License Counts?"
Correct me if I'm wrong, but do customers not have the ability to change their license counts on the _My Subscriptions_ page?  Mine is showing the correct license based subscription counts (and Ids), but no ability to add to it.

[2017-02-22 18:12] tameemansari commented on #35
Customers may add update their subscriptions from the "My Orders" page.

[2017-02-22 18:15] #17 closed

[2017-02-22 18:56] sean-anr commented on #35
I'm not seeing anything on the My Orders page for existing.  If I choice to purchase a new one I get this error: One or more offers you are trying to add already exists. You can add more licenses to existing subscriptions.

I see the existing subscriptions/license on the My Subscriptions page; which were added in the CSP portal.

Am I misunderstanding how this can be used?

[2017-02-27 16:39] sean-anr commented on #35
![2017-02-27_11-35-03](https://cloud.githubusercontent.com/assets/14201019/23369918/eac79362-fce0-11e6-8eba-1675e12d087c.png)
![2017-02-27_11-35-18](https://cloud.githubusercontent.com/assets/14201019/23369919/eac9d654-fce0-11e6-9834-5baa9e27dc14.png)
Here is an example of what I'm seeing for a CSP customer.  Those are CSP licenses/subscriptions, but nothing can be changed.

[2017-03-01 00:04] tameemansari commented on #35
@sean-anr. This behavior is by design. The My orders page allows a customer to manage any orders they have made from the storefront website. The My subscriptions page is primarily a way for the customer to get a complete view of all their subscriptions (License based and usage based in one place).

There are quite a few reasons why these are distinct. Ultimately it boils down to the catalog of off

[2017-03-09 17:54] sean-anr commented on #35
Should customers have the ability to decrease license counts on the My Orders page?

[2017-03-09 17:59] sean-anr commented on #35
One other question, sorry for so many.  Billing, I just signed in with a client, added a license and it didn't ask me to pay?  That because they were pre-approved?

[2017-03-09 18:55] tameemansari commented on #35
Customers cannot reduce the number of licenses from Chiron.
Re. Pre-approved transactions yes. If this customer (or all customers) have been marked for pre approval then they will not be taken to the payment experience during the transaction.

[2017-03-10 13:35] sean-anr commented on #35
Are the PayPal payment reoccurring?  I'm not seeing anything to that in the receipts.

[2017-03-13 18:50] tameemansari commented on #35
Nope. PayPal payment processing is done on demand by redirecting user to the payment experience. It is not a recurring payment.

[2017-03-14 15:01] sean-anr commented on #35
Thanks.

[2017-03-14 15:01] #35 closed

[2017-03-31 09:59] Bikram0 opened #37 "Getting subscription name after registration"
Hi, I am having a problem on getting the subscription name or the product name after registering. After buying the certain product, i need to show on the registration confirmation page. Would someone please help me to get the subscription name
![error](https://cloud.githubusercontent.com/assets/18627032/24545884/c7f21220-1628-11e7-8b0c-ccbbefa58226.PNG)

[2017-03-31 14:53] tameemansari commented on #37
Are you working on a private fork? I don't think we can display the subscription on this page in the current implementation since the order hasn't been placed at this point. Can you share additional details of your scenario.

[2017-04-05 06:22] Bikram0 commented on #37
I was trying to retrieve the product information after the customer clicks on buy now button. The product information should be displayed in Customer Registration Confirmation page. I have added the model view in its respective script file. But it shows [object object] while trying to retrieve product name information.

I was trying to show this information as it will be easier about what the cust

[2017-04-05 19:45] tameemansari commented on #37
Sorry @Bikram0 I am still not clear about this statement.

If you have a fork somewhere on GitHub please point me to these changes and I can suggest next steps / fixes accordingly. Hope this helps.

[2017-04-06 19:46] tameemansari commented on #37
You can always harvest the items for which the order will be generated from the [SubscriptionsToOrder property of the viewModel](https://github.com/PartnerCenterSamples/Reseller-Web-Application/blob/master/Source/PartnerCenter.CustomerPortal/Scripts/Plugins/RegistrationConfirmationPresenter.js#L17). You will need to write the view to render these pieces of the viewModel in the [Registration confir

[2017-04-10 05:43] Bikram0 commented on #37
Thanks for the guidance sir. I have done all the process according to your guidelines. But still, the products that has been ordered by the customers isn’t displayed in RegistrationConfirmation view page. I have added the viewModel in its respective script file and the view page. But still it doesn’t show its respective data. I have attached the file that I am trying to display in the red rectangl

[2017-04-10 17:19] tameemansari commented on #37
I am sorry @Bikram0 I am not sure I can help without understanding what you are trying to do. The screenshot you have attached is misleading to me. Is the screenshot your desired end goal / expectation or is your current implementation?

This page in our implementation doesn't place the order for the subscription. It only has generated the customer and associated it to the partner. The subscriptio

[2017-04-27 18:13] #37 closed

[2017-05-17 04:40] ankbs opened #38 "custom domain with custom SSL login error"
Hello,
after we configure our custom domain / URL and attach a certificate, we have following error when the user is using the custom domain:
"IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null. A nonce cannot be validated. If you don't need to check the nonce, set OpenIdConnectProtocolValidator.RequireNonce to 'false'."

When the same user using the app URL, it's worki

[2017-05-29 08:41] ankbs commented on #38
Hello....
Is there someone to hel for that issue?
Thank you
Michael

[2017-06-01 17:07] tameemansari commented on #38
@ankbs Will revert back in a few days.

[2017-06-24 09:19] patrickyong opened #40 "Error when opening with VS2017"
I have the following error but as far as I know VS2017 comes with Azure SDK for .NET, what's missing here?

 Source\CustomerPortal.Deployment\CustomerPortal.Deployment.deployproj: The application which this project type is based on was not found. Please try this link for further information: https://go.microsoft.com/fwlink/?LinkId=660342&projecttype=151D2E53-A2C4-4D7D-83FE-D05416EBD58E

[2017-06-24 09:29] patrickyong commented on #40
Looks like I got the same error message if I open it with VS2013 as well. I don't have a VS2015 installation at the moment.

[2017-06-27 19:48] tameemansari commented on #40
The code doesn't support VS2013. VS2015 should work just fine. For VS2017 we found that installing Azure SDK 2.9 resolves the issue you are reporting. You can download it from https://www.microsoft.com/en-us/download/details.aspx?id=51657

please confirm then I will close this issue.

[2017-06-27 19:57] tameemansari commented on #38
@ankbs Has the issue been fixed. I tried to login to your site and didn't see any issues.

[2017-08-11 05:56] rodmcleay opened #45 "Redirecting after login"
Hi,

I have the Customer Portal sample project setup and running in Visual Studio 2017.
Its deployed to Azure and running there, as is, out of the box.

My issue is debugging locally.
Only after I log in, it redirects to the azure hosted site instead of my https://localhost:44360 which should be the referrer.

I can't see any ref in the code to the  deployed site url I can't really debug whilst it

[2017-08-13 16:26] #40 closed

[2017-08-13 16:26] #38 closed

[2017-08-15 18:04] spappuru commented on #45
Could you please add the second 'Reply URL' parameter value as https://localhost:44360 for the App registered in Azure AAD and then verify?
Path: Login to Azure Portal --> Active Directory --> App registrations --> Select the App that you have configured --> Go to Reply URL's and add the new URL for localhost.

[2017-08-21 18:25] ingramleedy opened #46 "Subscription Add-Ons"
Has anyone figure a way to handle "Add-on"s?

For example, if you add E1 plan, you also want to add Advance Threat Protection at the same time or the ability to change add-ons?

[2017-08-21 18:25] ingramleedy opened #47 "Import existing client's subscriptions"
Any guidance on importing existing client's subscriptions?

[2017-08-28 17:51] allanzh opened #48 "Error Validating Credentials"
I was trying to make your sample work, did all the steps found at your post on MSDN Blog but when i do the Deploy using Visual Studio returns an error page.
![screenshot_1](https://user-images.githubusercontent.com/2539476/29786060-1971459c-8c00-11e7-9bec-0cb425257dd0.png)

Could you help me to fix it?

[2017-08-29 17:19] allanzh commented on #48
Just to be clear: The debug process occurs perfectly, this error appears when i do the first access.

[2017-08-30 14:01] isaiahwilliams commented on #48
Hi allanzh, this error message means you have specified an invalid secret key. In order to correct it you will need to double check that you have inserted the appropriate secret key value in the web.config. You can find the appropriate value in Partner Center by clicking on Dashboard -> Account Settings -> App Settings, and from there you can add a new secret key to the web app. When you copy it m

[2017-08-30 14:49] allanzh commented on #48
Hi @isaiahwilliams , first of all, thank you for spend time trying to help me out.
Following your tip, I've generated a new key on _Partner Center Sandbox_ and then remake the deployment process, with was a success, but in the first access the page shows another error.
![screenshot_1](https://user-images.githubusercontent.com/2539476/29878199-3f3c3326-8d78-11e7-9365-b4e0b756c20c.png)

[2017-08-30 18:07] isaiahwilliams commented on #48
Hi @allanzh, thank you for sharing this information! This is an interesting error because according to the [documentation ](https://msdn.microsoft.com/en-us/library/partnercenter/mt634697.aspx) the operation to obtain the legal business profile requires app + user authentication. The reseller portal utilizes app only authentication when communicating with the Partner Center API, and I believe that

[2017-08-30 18:38] allanzh commented on #48
Using Visual Studio on debug mode I could see that the error appears in the following part:

![screenshot_2](https://user-images.githubusercontent.com/2539476/29888073-ecb5f7ea-8d95-11e7-9ec3-407d2b8c6698.png)

So, I changed the ApplicationName and it works.

[2017-08-30 20:53] tameemansari commented on #47
A customer logging into the storefront will be able to see subscriptions which were not bought from the storefront under Partner Managed subscriptions. An import of these subscriptions to the storefront database is currently not in our plans.

[2017-08-30 20:53] #47 closed

[2017-08-30 20:54] tameemansari commented on #46
Marked as an enhancement. The storefront currently doesn't support add-ons if there is enough demand we can look at bringing this for a future release of the storefront.

[2017-08-30 20:54] #46 closed

[2017-08-31 18:25] allanzh commented on #48
@isaiahwilliams you can close this issue.
I already solved by generating newer secrets.
I don't know if this really matters, but I think you should recommend in your post to people change line:
`PartnerService.Instance.ApplicationName = "Web Store Front V1.4"; `
to
`PartnerService.Instance.ApplicationName = "YourApplicationName";`

[2017-08-31 21:08] tameemansari commented on #48
Thanks @isaiahwilliams.

[2017-08-31 21:08] #48 closed

[2017-08-31 21:08] #45 closed

[2017-09-05 13:29] allanzh opened #49 "DropdownList country empty"
Hi Everyone,

When I try to buy an item, I can't select my country. There are no Options in dropdown list as you can see on the image below.
![screenshot_4](https://user-images.githubusercontent.com/2539476/30063405-008f60b0-9225-11e7-8137-fcad31cd5af6.png)

[2017-09-05 13:36] allanzh opened #50 "Can't login with Client Credentials"
I'm trying to access the portal using client credentials and this error occurs :
![screenshot_5](https://user-images.githubusercontent.com/2539476/30063713-f4c50d9c-9225-11e7-9d1c-3c546997abf1.png)

[2017-09-05 22:51] ParagMJoshi commented on #49
Hello Allanzh

What is the Country of the Partner for which this is installed.

Regards
Parag.

[2017-09-05 23:13] ParagMJoshi commented on #50
I was able to use the Client Credentials and login, just now.
Can you verify that the provided Credentials are correct.
Parag.

[2017-09-05 23:16] hsbsandrecv commented on #49
Hello Parag,

Thank you for replying, I work with Allanzh in this Partner Storefront project. Partner country is Brazil (BR)
Regards,

Andre

[2017-09-06 00:01] ParagMJoshi commented on #49
Hello Andre, Allanzh,

Unfortunately Brazil is not supported country on CSP Customer Storefront Builder Quick Start Guide

https://msdn.microsoft.com/en-us/library/partnercenter/mt759509.aspx

Thanks
Parag.

[2017-09-06 11:34] allanzh commented on #49
Hello @ParagMJoshi ,
As André said, our Partner Country is Brazil, we're sorry to hear that the country is not supported.
Do you know if guys have plans to add Brazil in the roadmap? is that any way to make Storefront works in Countries who hasn't support?

[2017-09-06 19:46] tameemansari commented on #49
@allanzh . Your ask is valid. While we explore future roadmap cases to support additional regions for the storefront. The challenge is largely around the payment gateway provider in a given region. Not all regions / countries support PayPal as a recommended payment gateway.

We can definitely collaborate with partners interested in extending the storefront code to build additional payment gateway

[2017-09-08 12:32] allanzh commented on #50
Thanks @ParagMJoshi
In contact with @isaiahwilliams via e-mail he gives me some tips to understand and solve this issue.
I'll detail here for help people who have the same problem.
The error occurs because application by default comes with no support for multi tenant use. So I follow this steps:

- login in Azure Portal > Azure Active Directory > App Registrations, then select the corresponding ap

[2017-09-08 12:32] #50 closed

[2017-09-08 17:52] allanzh commented on #49
Thanks @tameemansari
It's good to hear that me and @hsbsandrecv can collaborate with you, but right now we don't use any gateway in our company. So in our scenario we will just show one confirmation screen and our clients will be charged later.

We configure all customers as pre-approved and it works well.

About the Additional Coutry, I don't know if we are doing something wrong, but we put **cas

[2017-09-08 19:03] tameemansari commented on #49
@ParagMJoshi can help you with the code changes to add the additional country list.

[2017-09-08 19:28] ParagMJoshi commented on #49
Sure Tameem. Let me make the changes and Test it...

[2017-09-08 20:27] ParagMJoshi commented on #49
Hello Allanzh,
Please send a mail on v-paragj@microsoft.com so I can take it ahead. I will need some information so I can let you know the changes needed, Get it tested to completion.

Thanks
Parag

[2017-09-11 11:00] allanzh commented on #49
Hi @ParagMJoshi ,
I already sent it.

Thanks
Allan

[2017-09-11 20:04] ParagMJoshi commented on #49
Thanks Allan, I have replied to your mail from my official Microsoft ID.
Once the issue is resolved we will close this issue.. till then we can communicate on my Microsoft ID.

thanks
Parag.

[2017-09-13 07:06] SplitView opened #52 "Local Gateway"
Is it possible to add a local payment gateway of my country in the application?

[2017-09-13 19:36] tameemansari commented on #52
Absolutely. We encourage you to fork the code and incorporate the changes to add your own payment gateway solution. We can assist in the implementation.

@SplitView Can you share which country and what payment gateway are you looking to integrate.

[2017-09-17 08:17] SplitView commented on #52
Thanks @tameemansari for reply. I am from Nepal and i want to integrate esewa as our gateway. the link to  docs is [here](https://1drv.ms/b/s!AhX7seYMjLvNgdIEWZwH4XaBFbUE5Q) . i hope you can help me on this

[2017-09-18 13:02] allanzh opened #53 "Unexpected behaviors in portal"
Hello guys,

I'm facing a problem when I try to buy one subscription without loggin.

I configured storefront to pre-approve transactions for all, but when I pick an offer and put all informations required to create a new customer, it redirects me to PayPal gateway.
So I try to run using localhost to follow unexpected redirection and fix it, but I click in "Proceed to Payment" button and throws me

[2017-09-18 17:50] tameemansari commented on #53
This is by design. You can only preapprove existing customers. Customers who are being created need to go through the payment gateway experience.

[2017-09-18 18:10] allanzh commented on #53
thanks for replying @tameemansari .
 I think I misunderstood the following message that is in "pre-approve" page: _“Select all” will mark all current and future customers as pre-approved to transact in the store front._
So, just to be clear, all newer customers need to pass first in paypal gateway? because in my scenario I need to bypass this step.

[2017-09-19 18:08] tameemansari commented on #53
Unfortunately we don't think its ideal to enable a new customer to be preapproved since the customer partner relationship is not yet established. You can feel free to fork the code and incorporate this behavior.

[2017-09-19 18:08] #53 closed

[2017-09-19 18:09] tameemansari commented on #49
Closing this item since the original issue on this thread is resolved. Please reopen in case this needs to be kept open.

[2017-09-19 18:09] #49 closed

[2017-09-26 11:07] jamesoneill opened #55 "Cross origin issue"
Hi, We are trying to deploy your re-seller portal in azure manually as we will be adding our own payment provider eventually.

I have followed the instructions apart from the website is hosted under a different subscription to the Active directory in azure. Not sure if this is the problem but thought i should mention it up front.

The website loads and i can see the loading image but it hangs. if

[2017-09-26 12:26] allanzh opened #56 "Error aquiring new subscriptions with new Customer."
Hi everyone,
I'm facing an error when I try to buy a subscription without logging into portal.
I've follow this steps:

1. Access Portal.
2. Select the first Offer.
3. Click "buy now" button.
4. Put all information needed.
5. Click "Proceed to Payment" button.
6. Make the payment using PayPal.

When PayPal redirects me back to Portal I see the screen below.

![screenshot_9](https://user-images.git

[2017-09-28 21:11] ParagMJoshi commented on #55
Hello Jamesoneill,

I think this is related to the fact that it is under different subscription. I did check the link https://dccspstorefront.azurewebsites.net, I can see the Issue you mentioned and the error you mentioned.

However I am not able to debug this issue as I cannot repro the issue in my environment.
If you can send me the Web.config in mail at v-paragj@microsoft.com I can help you.

T

[2017-10-10 18:24] ParagMJoshi commented on #55
Hello Jamesoneill

We have not heard back from you. If this is still a issue Please reply back on mail and I can help you debug this issue other wise We would be closing this issue tomorrow.
thanks
Parag.

[2017-10-11 08:56] abdelgrib opened #57 "How could get pricing for license-based services using API (REST or Managed) of Microsoft Store Partner Centner"
The API of Microsoft Store Partner Center using RateCards returns usage-based services (Azure Services) and can't get license-based services pricing ? I could download the Excel file but my question is , is there any way to get pricing for license-based services using API (REST or Managed) of Microsoft Store Partner Center ?

When getting offers using the API, some information are missing like : E

[2017-10-11 18:59] tameemansari commented on #57
Sorry there is no API to get these details. You would have to rely on the excel sheet downloadable from Partner Center web site.

[2017-10-11 18:59] #57 closed

[2017-10-11 19:26] tameemansari commented on #56
Closing the issue since you may have resolved this already.

[2017-10-11 19:26] #56 closed

[2017-10-12 09:02] jamesoneill commented on #55
Well we used the partner centre deploy-er which through some errors but actually provisioned in the end. Instead of provisioning it all our selves as we had run into this issue.

We have decided to roll our own solution to the problem as it doesn't quite fit our business needs. The developer in me would like to understand what the issue was, if you would like to go through the motions to fix a non

[2017-10-31 05:53] AnandKumar2610 opened #58 "How can I upload my local files to partner server request?"
Sample code: https://msdn.microsoft.com/en-us/library/partnercenter/mt805812.aspx

[2017-11-30 17:34] Juanmorote opened #59 "HeaderBar"
Hi,

Im new in this and i have a problem when i try to modify the HeaderBar.
I want to remove some parts of the HeaderBar and when i try, i have differents fails.
If you can help me with this or give me a link with information for resolve this.
In special i want remove or change parts of the div with id=PrimaryNavigationTiles

Thanks in advance.

[2017-12-18 16:47] #59 closed

[2018-01-17 23:01] bsilic opened #60 "Customer Vs Partner Managed subscriptions"
What is the difference between Customer Vs Partner Managed subscriptions?
Even when we revoke the Partner Delegated Admin permission, the subscriptions stays in the "Partner managed subscriptions" - Why is this?
Why can't a customer manage the subscription?
Is it possible to change the code to enable customer to still be able to manage these subscriptions ? Can we get some pointers for this ?
Than

[2018-01-31 13:51] LloydApter commented on #12
Hi,

Which is the correct value for the ''webPortalClientId'' ?

Thanks

[2018-02-27 18:06] isaiahwilliams commented on #60
Hi Barry,

A customer managed subscription is essentially a subscription that the customer purchased through the storefront. A partner managed subscription is a subscription that the partner created though other means, such as Partner Center. There are certain scenarios where a partner might want to create a subscription that is completely managed by them, instead of the customer. This functionali

[2018-02-27 18:13] isaiahwilliams commented on #58
Hi AnandKumar2610, the storefront does not provide the ability to manage support requests. This portal is designed for customers to purchase, and manage, subscriptions from a Cloud Solution Provider partner. Are you looking for a solution to help support your customers? Or are you suggesting that this functionality be added to the storefront?

[2018-03-01 08:39] AnandKumar2610 opened #63 "How to get Notes from Service Requests?"
My Code:
`ResourceCollection<ServiceRequest> serviceRequests = partnerOperations.ServiceRequests.Get();`
I got only NULL values for Notes!

Source: https://docs.microsoft.com/en-us/partner-center/develop/get-all-service-requests-for-a-customer

Thanks in advance
-Anand

[2018-03-01 15:27] isaiahwilliams commented on #63
Hi Anand,

I would recommend that you check out the [Service Request examples](https://github.com/PartnerCenterSamples/Partner-Center-SDK-Samples/tree/master/Source/Partner%20Center%20SDK%20Samples/ServiceRequests) from the Partner Center SDK sample project. If that does not help then it would be a good idea to open a support ticket through Partner Center regarding this question.

[2018-03-02 12:53] AnandKumar2610 commented on #63
Hi @isaiahwilliams  thank you for your reply.
Actually i am created 13 service request using SDK.

I got Notes if am using ID:
`ServiceRequest serviceRequestDetails = partnerOperations.ServiceRequests.ById(existingServiceRequest.Id).Get();`

When i use the below code to retrieve all service request notes, i am getting null value for all notes.
`ServiceRequest serviceRequestDetails = partnerOperati

[2018-03-26 13:05] isaiahwilliams opened #64 "Authentication - One or more errors has occurred"
### Expected behavior
Upon successful authentication, using partner credentials, the configuration page be loaded.

### Actual behavior
After successfully authenticating users are reporting they are receiving a generic error message that states, one or more errors has occurred.

### Steps to reproduce the problem
Deploy the solution following the guidance provided at https://blogs.msdn.microsoft.c

[2018-03-26 13:38] isaiahwilliams commented on #64
I have submitted PR #65 to provide a more meaningful error. This update will show the message from the inner exception instead of the generic "one or more errors has occurred." @tameemansari do you have any feedback?

[2018-03-26 19:05] tameemansari commented on #64
Thanks @isaiahwilliams . Makes sense. I reviewed the PR and will approve shortly. There is a large PR coming in to support an additional payment gateway (for India). Feel free to take a look at that too.

[2018-03-28 06:31] Agazoth opened #66 "Existing CSP customer can not log on to Reseller Web Application"
### Title
Existing CSP customer can not log on to Reseller Web Application

### Functional impact
Existing customers are not able to access the portal

### Minimal repro steps
Install newest version of Reseller Web Application on a CSP Direct tenant with customers
Configure the 3 steps on the Reseller Web Application
Try to log on to the application with a Global Admin from one of the customer ten

[2018-03-28 14:46] Agazoth commented on #66
After updating the App manifestwith:
"availableToOtherTenants": true
it is possible to log on to the application with a global admin form the cudtomer tenants.

[2018-03-28 14:46] #66 closed

[2018-03-30 14:46] isaiahwilliams commented on #64
Thank you @tameemansari. I will be more than glad to take a look at the additional gateway PR. I am going to close this issue since you have completed the merge.

[2018-03-30 14:46] #64 closed

[2018-03-30 14:58] isaiahwilliams commented on #63
Hi Anand,

The behavior you described is excepted. You will notice that various components of the Partner Center API/SDK behave in this manner. This was done to ensure that the data being returned from the API is done so in an optimal manner. If you would like to get the notes for each service request then my recommendation would be

1. Make the partnerOperations.ServiceRequests.Get() call to obta

[2018-04-25 17:51] isaiahwilliams opened #68 "Could not retrieve pre-approved customer details"
### Expected behavior
The pre-approved customers management user experience load without any error

### Actual behavior
The pre-approved customers management user experience is loading with the following error "Could not retrieve pre-approved customer details"

### Steps to reproduce the problem
Deploy the reseller storefront manually

[2018-04-26 15:34] isaiahwilliams opened #69 "Feature Request: Allow monthly billing"
Add the ability to enable monthly billing

[2018-04-27 04:23] isaiahwilliams opened #70 "Access token refresh"
### Expected behavior
When access tokens have expired the application should refresh them silently or force the user to reauthenticate

### Actual behavior
Once the access token has received administrative users are encountering the following error when trying to access any of the admin features

You do not have the rights needed to access this area

### Steps to reproduce the problem
1. Login to

[2018-04-27 12:13] isaiahwilliams opened #71 "Feature Request: Support for Azure subscriptions"
Received the following request from a partner

Add support billing and provisioning of Azure subscriptions

[2018-04-27 15:10] mkilpatric commented on #69
We currently have over 500 customers who are on a monthly billing model, and would like to stay that way. With our store, we want to keep those customers on this model and not require them to order a license annually at this point.

[2018-06-13 15:45] schuettecarsten opened #73 "The reply address 'https://blablabla.azurewebsites.net/' does not match the reply address 'https://blablabla.azurewebsites.net' provided when requesting Authorization code."
I get the following exception when CSP user tries to login:
`AADSTS70002: Error validating credentials. AADSTS50011: The reply address 'https://blablabla.azurewebsites.net/' does not match the reply address 'https://blablabla.azurewebsites.net' provided when requesting Authorization code.`

[2018-06-13 17:18] isaiahwilliams commented on #73
Hi @schuettecarsten, you will need to update the reply address for the web portal Azure AD application in the Azure management portal to correct this issue. You can find more details on how this is done at https://docs.microsoft.com/en-us/azure/app-service/app-service-mobile-how-to-configure-active-directory-authentication

[2018-06-13 19:04] #73 closed

[2018-06-13 19:04] schuettecarsten commented on #73
Thank you.

[2018-08-09 16:35] ifeomai opened #75 "Payment Gateway Callback URL"
I'm trying to customize this for Nigeria using Paystack Gateway - https://paystack.com/ .  Payment is completed on its site and Paystack requires a callback url to post the response status to. What would this be in this case? Are there any parameters to be included?

Reference - https://developers.paystack.co/docs

[2018-08-14 22:45] jeanrobertjs opened #76 "Feature request: Add "edit quantity" capability for licensed-based subscriptions + pre-approved customers"

[2018-08-21 13:26] ifeomai commented on #52
@tameemansari is there any documentation that can help with implementing a local gateway? My provider in NIgeria - Paystack `https://developers.paystack.co/` requires a callback url from their site, back into the application but I could not find one. Could you advise?

[2018-08-21 13:30] ifeomai commented on #52
@tameemansari  is there any documentation that can help with implementing a local gateway? My provider in Nigeria - [Paystack](https://developers.paystack.co/) requires a callback url from their site, back into the application but I could not find one. Could you advise?

[2018-08-21 13:32] ifeomai commented on #52
@SplitView where you able to implement your local gateway? How did you get that done?

[2018-08-22 15:53] acumor opened #77 "unable to list or sell add-on offers such as phone system, domestic calling, etc."
hello, this web store front doesn't allow to list or sell add-on offers such as phone system, domestic calling, etc.  if someone can fix this, that would be a great help.

[2018-08-30 20:45] isaiahwilliams commented on #68
This is no longer an active issue.

[2018-08-30 20:45] #68 closed

[2018-08-30 20:47] isaiahwilliams commented on #63
Hi @AnandKumar2610, please let us know if you are still having issues. I am going to close this issue for now, but please feel free to reopen it.

[2018-08-30 20:47] #63 closed

[2018-08-30 20:50] isaiahwilliams commented on #71
Closing this feature request.

[2018-08-30 20:50] #71 closed

[2018-08-31 06:43] AnandKumar2610 commented on #63
Hi @isaiahwilliams thanks for your reply.
I need one request and get all information's. Why i need loop and call each time. Suppose I have 500 Service Request mean it will hit server 500 times correct?

[2018-10-17 04:56] isaiahwilliams commented on #55
I am going to close this issue, since we have updated the code a number of times since this issue was opened. If the issue still presists please feel free to reopen this issue or create a new one.

[2018-10-17 04:56] #55 closed

[2018-10-17 05:00] isaiahwilliams commented on #52
Hi @SplitView  and @ifeomai there are plans to refactor the invoicing feature in the near future to support monthly invoice. As part of that work we will be simplifying the process to add new payment gateways. I will be sure to include documentation on how to configure them. Since this work is planned for the near feature I am going to close this issue. Please feel free to reopen it if you have an

[2018-10-17 05:00] #52 closed

[2018-10-17 05:01] isaiahwilliams commented on #58
Currently this feature is not on the roadmap for new functionality to be added. Considering this I am going to close this issue. Please feel free to reopen it if you have any quesitons.

[2018-10-17 05:01] #58 closed

[2018-10-17 05:03] isaiahwilliams commented on #77
Hi @acumor,

I wanted to let you know that work has started to add this functionality. Currently I do not have any timeframe that I can share with you because plannng for this feature has just started. I will be sure to keep you posted on our progress.

[2018-10-17 05:04] #70 closed

[2018-10-18 03:36] acumor commented on #77
Thank you @isaiahwilliams. I really appreciate keeping us posted.  We look forward to get this working asap.

[2018-10-18 15:17] MattHorvay opened #79 "Deployment Failed"
I tried deploying this from Partner Center yesterday.
It looks like the app service deployment is failing.

It says Reason: Merge pull request #78 from PartnerCenterSamples/dev-mca-update Added support for acceptance of the MCA

It got to "Running deployment command..." which failed.
The activity log for the deployment command is:

Command: "D:\home\site\deployments\tools\deploy.cmd"
Handling .NET

[2018-10-18 18:59] isaiahwilliams commented on #79
Hi @MattHorvay,

Thank you for opening this issue. I have corrected this issue and you should now be able to deploy it without an issue. Please let me know if you have any issues.

[2018-10-18 18:59] #79 closed

[2018-10-22 01:43] acumor opened #81 "load all partner managed subscriptions to customer managed subscriptions"
please have ability to auto-load all partner managed subscriptions as customer managed, so customer can add or remove quantities and manage their subscriptions themselves.

[2018-10-23 14:30] MattHorvay commented on #79
That fixed it.
Thank you!

[2019-01-23 08:24] Agazoth opened #84 "Partner non admins are not authorized to sign in"
I just deployed the portal and get this message:
Partner non admins are not authorized to sign in

What does this mean?

By the way, this blog post is gone:
https://blogs.msdn.microsoft.com/iwilliams/2016/12/17/reseller-storefront/

[2019-01-23 14:17] Agazoth commented on #84
It seems like only users with the AD Role "Company Administrator" are allowed to administrer the portal. Since the Sales department are to configure the portal it would be really nice to have another role or group to access the Admin part of the application.

[2019-07-01 17:31] jrfinchloom opened #87 "Unable to complete an order through storefront"
I have successfully deployed the storefront from the partner center link that auto deploys it.  The first deployment resulted in a failure, but then when I re-ran the deployment it called it an "Upgrade" and then the upgrade said it completed successfully.

I can create an offer and I can see the partner managed subscriptions.  however, when I place a NEW order for a customer managed subscription,

[2019-07-01 21:49] benjamin912 commented on #87
I am having the exact same issue.  Deployment reports failure, but the site seems to provision fine after a few minutes but orders fail to provision.  It saves the order to CustomerPurchases Azure SQL table, but it never provisions.  the UI reports a notification "payment information collected, creating customer and processing order..." but it never shows up in history and the subscription isn't a

[2019-07-02 08:28] knlp opened #88 "Does this solution implement the secure application model framework?"
Hi, Microsoft recently announced that partners must meet certain security requirements. One is MFA on all users and the other: "All partners integrating with a Microsoft API such as Azure Resource Manager, Microsoft Graph, and the Partner Center API must adopt the Secure Application Model framework to avoid any disruption to their integration when the baseline policies are enabled.", hence the que

[2019-07-03 23:28] isaiahwilliams commented on #88
This project utilizes app only authentication when making calls to Microsoft Graph and the Partner Center API. Since app + user authentication is not used when interacting with the APIs, there is no code changes required.

[2019-07-04 13:49] isaiahwilliams commented on #87
Hi @jrfinchloom and @benjamin912,

This issue has been addressed. Can you update your deployments and let me know if you are able to complete the transaction now?

[2019-07-05 16:10] jrfinchloom commented on #87
@isaiahwilliams  - thank you for the reply and the work to fix this.

Using Partner center web storefront, attempted to upgrade the site, got an error.
"Website URL: was not successfully upgraded. Wait a few minutes and then try again. We apologize for the inconvenience."

So, deleted the resource group to start over.  Deployed from Partner Center (first time errors as usual), then hit upgrade sit

[2019-07-05 20:43] benjamin912 commented on #87
@isaiahwilliams thank you for taking a look at this.

I had the same results as @jrfinchloom - went to CSP portal - Account Settings - Web Storefront and entered the name of my deployment and selected Upgrade, and it comes back in about 30 seconds with "Website URL: was not successfully upgraded. Wait a few minutes and then try again. We apologize for the inconvenience."  I log in to the site usin

[2019-07-05 22:45] jrfinchloom commented on #87
@isaiahwilliams thank you.  I now was able to update via partner center.

i first tried to update in-place using partner center with the pre-existing deployment.  That didn't work.  so instead, i deleted the resource group, cleaned up the Azure ad applications, and re-deployed from scratch with partner center and that worked.

[2019-07-06 00:31] isaiahwilliams commented on #87
Hi @benjamin912,

The issue preventing you from updating from Partner Center has been corrected. Can you try it again?

[2019-07-09 02:04] benjamin912 commented on #87
I was able to manually update from Azure - App Service - Deployment Center - Sync and it updated the code and works great now.  Thanks!

[2019-07-15 16:10] arash2017 opened #92 "Unable to create orders on web store front"
# Steps to reproduce

 When I call API which is connected to Navision (Local DB ) and I try to change the quantity value I get this Error:

The field SKU ID of table AAB Azure Contract Lic. Line contains a value (05933B83-04D1-4AC6-BFCD-DBBBFC834483) that cannot be found in the related table (AAB Azure Product SKU).

## Environment
Postman, Angular

[2019-07-15 16:51] #92 closed

[2019-08-16 15:03] webbeld1975 opened #96 "Deployment fails"
Deployment using PartnerCenter link fails, so does redeployment in azure deployment.

Here is the error generated:

Installed:
    59 package(s) to packages.config projects
D:\home\site\repository\packages\Microsoft.Net.Compilers.3.2.1\tools\Microsoft.Managed.Core.targets(63,60): error MSB4086: A numeric comparison was attempted on "$(MSBuildVersion)" that evaluates to "" instead of a number, in c

[2019-08-19 16:17] isaiahwilliams commented on #96
@webbeld1975 I just addressed this issue. Can you try deploying the storefront again?

[2019-08-19 16:21] isaiahwilliams commented on #88
Please let us know if you have any concerns or questions.

[2019-08-19 16:21] #88 closed

[2019-08-19 19:48] webbeld1975 commented on #96
@isaiahwilliams Thank's Isaiah for the quick response. I tried two different things:
a) upgrading an instance where the deployment failed last week : result is shown as success in PartnerCenter, appservice shows as running in Azure Deployment portal
b) deploying a new instance: shown as failed in PartnerCenter due to timing issue, the deployment is still running at this time. About 3 minutes later

[2019-12-16 05:35] clownwilleatme commented on #69
Hi @isaiahwilliams, I was just wondering if there has been any progress with adding monthly billing?

Otherwise, do you have any thoughts or advice about how this feature would be implemented?

[2020-01-17 02:13] jeremymcp commented on #60
What changes to the code need to be made so that all subscriptions are considered ‘customer managed’?  The comments to your blog post related to this no longer appear to be available through the link provided.

Thank you,
Jeremy

[2020-02-12 08:16] AdminCRBRG opened #99 "Offer all CSP products on the customer web store front"
# Feature Request

Hello,

I was wondering whether it would be possible to add the full CSP catalog for "License-based services" to the storefront?

We have customers that need to be able to purchase products like E5 Security and similar products.

I am aware that a similar request has been put out in 2018, but I can't seem to find any update on the given subject.

**Describe the solution you woul

[2020-05-04 22:20] ankbomb commented on #96
Adding to @webbeld1975

Having the same issue in a US tenant. tried this as well as https://github.com/microsoft/Partner-Center-Storefront.

VS says successful, but in the logs it shows:

D:\home\site\repository\packages\Microsoft.Net.Compilers.3.3.1\tools\Microsoft.Managed.Core.targets(63,60): error MSB4086: A numeric comparison was attempted on "$(MSBuildVersion)" that evaluates to "" instead of

[2021-05-28 23:58] SteveSoper opened #102 "Error "Partner non admins are not authorized to sign in""
# Steps to reproduce

Logging in with an administrator account

## Expected behavior

Admin screen where we can select Customers who can manage their own subscriptions

## Actual behavior

Error "Partner non admins are not authorized to sign in."

## Diagnostic logs

Unsure which logs are needed

## Environment

Deployed Azure Web Store Builder a couple years ago.  It has been running fine for yea

[2021-06-08 17:45] SteveSoper commented on #102
A little more detail on this error.  It looks like the error is resulting from a failed PUT command to the Azure Blob storage.  Still not sure how this error was introduced since this worked fine for years.

Command is:
https://storagexhoyn4qbgz3uo.blob.core.windows.net:443/customerportalassets?restype=container

Error code is:
409

[2021-06-15 00:04] SteveSoper commented on #102
More detail... although nobody seems to be reviewing so not sure what the point is.  The Azure Blob storage put command is failing because it's trying to create a container that already exists.

[2021-06-18 01:23] SteveSoper commented on #102
Another update.  The issue is not with the Blob storage but the fact that the application is trying to create a container that already exists.  We haven't made any modifications to the application and so not sure why the sudden change in behavior.